{% extends 'base.html.twig' %}

{% block title %} Registrazione {% endblock %}

{% block body %}
<br>
<div class="container">
	
	<h2>Registrati</h2>
	<br>
	
	{{form(regForm)}}
	
</div>
{% endblock %}
